.pagination {
    display: inline-block;
    display: flex;
    justify-content: center;
    display: flex;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.3s;
  }
  .pagination a:hover {
    background-color: rgba(171,25,0,1);
    color: white;
  }
  
  