.FailuresContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30%;
    gap:10px;
    padding-bottom: 10%;
    h1{
        font-family: sans-serif;
    }
}