.CartProductImage{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
.Table{
    margin-top: 50px;
}
.CheckoutBtn{
    padding: 10px;
    border: 2px solid rgba(171,25,0,1);
    border-radius: 4px;
    background-color: rgba(171,25,0,1);
    color: white;
    font-weight: 1000;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
}
.CheckoutBtn:hover{
    background-color: transparent;
    color: rgba(171,25,0,1);
}
.DeleteBtn{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}